:root {
    --primary-color:red;
    --secondary-color:green;
    --tertiary-color:blue;
    --border-square: 0px;
    --border-round-5: 5px;
    --border-round-10: 10px;
    --border-choice: var(--border-square);
}

/* Spezifische Styles */
.bg-main {
    width: 100%;
    height: 100vh;
    background-image: url("./исоМетрикДесктопРосеТурк.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    
}

nav ul li {
    border-bottom: 1px solid lightgray;
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}